openai
PySide6
duckduckgo-search
playwright
pyautogui
piper-tts
SpeechRecognition
sounddevice
numpy
Pillow
psutil
pywinauto
pyperclip
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
docker
winotify
pygetwindow
chromadb
pypdf
python-docx
pywin32
uiautomation
mss
pytesseract
vosk
opencv-python
mediapipe==0.10.14
